:root {
  --primary-color: #fefefe;
  --secondary-color: #fdee30;
  --accent-gray: #565659;
  --background-color: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--background-color);
  color: var(--primary-color);
  line-height: 1.5;
}

.container {
  width: 100%;
  padding: 0 15px 0 15px;
  margin: 0 auto 0 auto;
}

/* --------------
# Links 
-------------- */

a {
  color: var(--primary-color);
  transition: 0.5s;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: var(--secondary-color);
  outline: none;
  text-decoration: none;
}

/* --------------
# Fonts
-------------- */
.text-secondary {
  color: var(--secondary-color);
}

/* --------------
# Section
-------------- */
.section-title {
  font-family: "Lora", serif;
}

.section-header {
  display: flex;
  flex-direction: column;
  width: 75%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
}

/* --------------
# Header
-------------- */
#header {
  height: 90px;
  padding: 25px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header.header-scrolled,
#header.header-fixed {
  background: rgba(86, 86, 89, 0.98);
  height: 70px;
  padding: 15px 0;
  transition: all 0.5s;
}

#header #logo img {
  max-height: 40px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

/* --------------
# Navigation Menu
-------------- */

/* Nav Menu Essentials */
#nav-menu-container {
  float: right;
}

.nav-menu {
  list-style: none;
  display: flex;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

/* Nav Menu Styling */
.nav-menu a {
  padding: 8px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-weight: 500;
  outline: none;
  text-transform: uppercase;
}

.nav-menu .menu-active a,
.nav-menu a:hover {
  color: #fdee30;
}

.nav-menu > li {
  margin-left: 8px;
}

.nav-menu > li > a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fdee30;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before,
.nav-menu li:hover > a:before,
.nav-menu .menu-active > a:before {
  visibility: visible;
  width: 100%;
}

.nav-menu li.cta {
  align-self: center;
}

.nav-menu li.cta a {
  color: #333;
  background: #fdee30;
  padding: 7px 22px;
  border-radius: 2px;
  border: 2px solid #fdee30;
  transition: all ease-in-out 0.3s;
  font-weight: 500;
  margin-left: 8px;
  margin-top: 2px;
  line-height: 1;
  font-size: 13px;
}

.nav-menu li.cta a:hover {
  background: none;
  color: #fff;
}

.nav-menu li.cta:hover a:before,
.nav-menu li.cta.menu-active a:before {
  visibility: hidden;
}
/* --------------
# Intro Section
-------------- */
#intro {
  width: 100%;
  height: 100vh;
  background: url(/img/intro-bg.jpg) top center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

#intro::before,
#about::before {
  content: "";
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#intro .intro-container {
  position: absolute;
  bottom: 0;
  top: 90px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

#intro h1 {
  color: var(--primary-color);
  font-size: 3.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}

#intro p span {
  color: var(--secondary-color);
}

#intro p {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 2.5rem;
  margin-top: 1rem;
}

#intro .about-btn {
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1px;
  display: inline-block;
  padding: 0.7rem 1rem;
  border: 2px solid var(--secondary-color);
  border-radius: 2px;
  transition: 0.5s;
  line-height: 1;
  cursor: pointer;
  margin-top: 3rem;
  color: var(--primary-color);
  animation-delay: 0.8s;
}

#intro .about-btn:hover {
  background: var(--secondary-color);
  color: var(--accent-black);
}

/* --------------
# About Section
-------------- */
#about {
  /* background: url("img/about-bg.jpg"); */
  background-size: cover;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding: 60px 0 40px 0;
  transition: all 0.5s;
}

#about::before {
  content: "";
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

#about h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
  text-transform: uppercase;
}

#about p {
  color: #fff;
  text-align: center;
  line-height: 2;
  margin-bottom: 20px;
}

#about-content p {
  line-height: 1.4;
  font-size: 14px;
}

.d-flex {
  display: flex;
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.w-75 {
  width: 75%;
}

.m-auto {
  margin: auto;
}

.row {
  display: flex;
}

.col-md-3 {
  flex: 1;
}

.text-center {
  text-align: center;
  align-items: center;
}

.hr-short {
  width: 10%;
  height: 5px;
  border: none;
  background: #fdee30;
  margin: 1.5rem 0;
}

.card {
  background: rgba(253, 238, 48, 0.2);
  max-width: 22rem;
  box-shadow: 0 10px 20px 0 rgba(253, 238, 48, 0.125);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin: 0.5rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.card-body h2,
.card-body i {
  margin-bottom: 0.5rem;
}
/* --------------
# Media Queries
-------------- */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
